.controls {
    display: flex;
    gap: 1em;
}

.layoutToggle {
    cursor: pointer;
    font-size: 1.5em;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    line-height: 1;
}

.sourceList {
    display: flex;
    gap: 1em;
}

.sourceListHorizontal {
    flex-direction: row;
}

.sourceListVertical {
    flex-direction: column;
}
