.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-weight: bold;
}

.form {
  display: flex;
  gap: 0.4rem;
}

.input {
  font-size: 1.1rem;
  padding: 0.4rem 0.6rem;
  flex: 1;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 0.9rem;
}
